<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>positive</td><td>LoginTest.loginWithValidCredentials()[pri:0, instance:Playwright.gtplBankDemo.loginTest.LoginTest@3ba987b8]<br/></td></tr>
<tr><td>sanity</td><td>LoginTest.loginWithValidCredentials()[pri:0, instance:Playwright.gtplBankDemo.loginTest.LoginTest@3ba987b8]<br/></td></tr>
</table>
