<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="689a9e">  <td>23/11/06 10:31:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.browserClose(org.testng.ITestResult)[pri:0, instance:Playwright.gtplBankDemo.loginTest.LoginTest@3ba987b8]">&lt;&lt;browserClose</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>23/11/06 10:31:01</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithValidCredentials()[pri:0, instance:Playwright.gtplBankDemo.loginTest.LoginTest@3ba987b8]">loginWithValidCredentials</td> 
  <td>main@1464191502</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>23/11/06 10:30:28</td>   <td>-33741</td> <td title="&gt;&gt;BaseClass.readDataFromProperties1()[pri:0, instance:Playwright.gtplBankDemo.loginTest.LoginTest@3ba987b8]">&gt;&gt;readDataFromProperties1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1464191502</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>23/11/06 10:30:28</td>   <td>-33706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.loginTest.LoginTest@3ba987b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1464191502</td>   <td></td> </tr>
</table>
