<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Playwright.gtplBankDemo.loginTest.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>sanity positive </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Playwright.gtplBankDemo.dashBoardTest.DashboardTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationToTheNewAccount</td>
<td>sanity positive </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationToTheNewCustomerPage</td>
<td>sanity positive </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationToTheEditCustomerPage</td>
<td>sanity positive </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationToTheDeleteAccount</td>
<td>sanity positive </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationToTheMiniStatement</td>
<td>sanity positive </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationToTheCustomisedStatement</td>
<td>sanity positive </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLogout</td>
<td>sanity positive </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationToTheDeleteCustomer</td>
<td>sanity positive </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationToTheEditAccount</td>
<td>sanity positive </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
