<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="e5a1be">  <td>23/09/24 20:27:56</td>   <td>-348541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithValidCredentials()[pri:0, instance:Playwright.gtplBankDemo.loginTest.LoginTest@8a589a2]">loginWithValidCredentials</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:28:10</td>   <td>-334139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyNavigationToTheNewCustomerPage()[pri:1, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyNavigationToTheNewCustomerPage</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:31:10</td>   <td>-154726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyNavigationToTheEditAccount()[pri:5, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyNavigationToTheEditAccount</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:29:41</td>   <td>-243076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyNavigationToTheDeleteCustomer()[pri:3, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyNavigationToTheDeleteCustomer</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:32:33</td>   <td>-71466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyNavigationToTheMiniStatement()[pri:7, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyNavigationToTheMiniStatement</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:31:51</td>   <td>-113063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyNavigationToTheDeleteAccount()[pri:6, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyNavigationToTheDeleteAccount</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:33:56</td>   <td>12020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyLogout()[pri:9, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyLogout</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:27:34</td>   <td>-370654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.loginTest.LoginTest@8a589a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:28:55</td>   <td>-289094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyNavigationToTheEditCustomerPage()[pri:2, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyNavigationToTheEditCustomerPage</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:33:14</td>   <td>-30510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyNavigationToTheCustomisedStatement()[pri:8, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyNavigationToTheCustomisedStatement</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="8491d0">  <td>23/09/24 20:30:30</td>   <td>-194559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.verifyNavigationToTheNewAccount()[pri:4, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">verifyNavigationToTheNewAccount</td> 
  <td>main@1693997031</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>23/09/24 20:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Playwright.gtplBankDemo.dashBoardTest.DashboardTest@b672aa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1693997031</td>   <td></td> </tr>
</table>
